body {
  background: rgba(0,0,50,.2);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1;
  padding: 0;
  margin:0;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  background-color: rgba(0,0,0,0.1);
}

h1, h2, h3, h4, h5, h6, p {
  padding: 20px;
  margin: 0;
}

h1 {
  font-weight: bold;
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

.active {
  color: black;
  outline: none;
  background-color: rgba(0,0,0,0.05);
}

#App {
  outline: none;
}

#Title{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background: rgba(0,0,50,1);
} #Title h1 {
  color: white;
}

#LogoutBar{
  position:absolute;
  top: 0%;
  right: 0%;
  background:lightgrey;
  text-align: center;
}

#NavLinks{
  padding: 30px;
  background:rgb(255,255,255);
  text-align: center;
}

.module{
  margin-top: 20px;
  margin-left: 200px;
  margin-right: 200px;
  background: lightgrey;
  border: 2px solid mediumblue;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
}.module p, h3 {
  padding: 0;
}.module .Form{
  text-align: left;
}

.form{
  margin-left: auto;
  margin-right: auto;
}
